<!doctype html>
<html lang="en">

<head>
    <%- include ('partials/head', {title: data.title}); %>
</head>

<body class="text-center">
    <div class="page">
        <%- include ('partials/header', {data: data.nav}); %>
        <% if (data.title.includes('HomePage')) { %>
        <%- include ('index', {data: data}); %>
        <% } %>
        <% if (data.title.includes('category')) { %>
        <%- include ('category', {data: data}); %>
        <% } %>
    </div>
</body>

</html>