<div class="container">
    <h3 class="display-5 text-left mt-3">Hello <%= data.userName %>!!!</h3>
    <p class="display-7 text-left">It's your Account Page. Here you can find your videocollection.</p>
    <div class="collection">
    </div>
</div>