body {
  max-width: 1440px;
  margin: auto !important;
}
.genres ul {
    list-style-type: none;
  -moz-column-count: 3; /* Firefox */
  -webkit-column-count: 3; /* Safari and Chrome */
  column-count: 4;
  height: auto;
}

a:hover {
  color: inherit !important;
  text-decoration: none !important;
}

